/* RESET STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    border-style:solid;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q{quotes: none;}
:focus{outline: 0;}
em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}

/* GENERIC STYLES
******************************/
a{font-weight:bold;text-decoration:none;color:#222;}
a:hover{text-decoration:underline;}
a *{cursor:pointer;}
body{font:normal 12px Arial,Helvetica,sans-serif;color:#222;position:relative;}
button,input,option,select,textarea{font-family:arial,helvetica,sans-serif;}
caption, th, td {text-align:left;font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-weight:bold;clear:both;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4{font-size:12px;}
p{margin:0 0 10px;}
div.clear{clear:both;font-size:1px;line-height:1px;height:0px;visibility:hidden;overflow:hidden;}

/* STAGE */
#stage {width:600px;margin:0 auto;}

/* HEADER */
#header #masthead {background:transparent url(images/masthead.gif) left top no-repeat;overflow:hidden;}
#header #masthead a {height:0;padding-top:37px;display:block;}
#header #primary_nav {height:20px;border:solid #FFF;border-width:2px 0;background:#8E9196 url(images/y_foot.gif) 284px top no-repeat;padding:0 10px;}
#header #primary_nav li {float:left;text-transform:uppercase;}
#header #primary_nav li a {color:#FFF;padding:0 16px;display:block;line-height:20px;text-decoration:none;}
#header #primary_nav li a.on span {color:#8E9196;}
#header #primary_nav li a.on,
#header #primary_nav li a:hover {background-color:#FFF;color:#8E9196;float:left;}

/* MAIN */
#main {background:#A7A9AD url(images/bg.png) left top no-repeat;padding:25px;height:1%;overflow:hidden;border-bottom:3px #8E9196 solid;}
#main h2 {margin-bottom:10px;border-bottom:1px solid #CCC;padding-bottom:2px;}
#main h3 {margin-bottom:2px;}
#main hr {background-color:#999;height:1px;margin:10px 0;clear:both;border-width:0;}
#main dl {height:1%;overflow:hidden;}
#main dt {float:left;margin:0 5px 5px 0;font-weight:bold;}
#main dd {margin-bottom:5px;}
#main dd a {font-weight:normal;}
/* home */
.home #main {background:#8E9196 url(images/bg.png) center no-repeat;padding:0;height:341px;text-align: center;}
.home #main div {display:inline;}
.home #main .portrait {display:block;margin:14px auto 10px;border:1px solid #DDD;}
.home small {padding-left:5px;}
/* product */
.product #main dt {margin:0 5px 0 0;}
.product #main dd {float:left;padding-right:5px;border-right:1px solid #999;margin:0 5px 0 0;}
.product #main dd.last,
.product #main .blockList dd {border-right-width:0;}
.product #main .blockList dt {clear:left;}
table, tbody {width:100%;display:block;}
td {width:50%;padding:3px;}
td.price {text-align:right;}


/* FOOTER */
p.copyright {text-align:right;margin:5px 3px 0 0;color:#BBB;font-size:10px;}